<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582150809280-0hm89a8s7r8690cdcin6v0lgidtk2f91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582150809280-0hm89a8s7r8690cdcin6v0lgidtk2f91</string>
	<key>API_KEY</key>
	<string>AIzaSyA-rJ-l8y_TtSZxXSI2DwrE7n8SMOHCeXg</string>
	<key>GCM_SENDER_ID</key>
	<string>582150809280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newscrashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>newscrashlytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582150809280:ios:c7083cc7a79bb7a6416f25</string>
</dict>
</plist>